<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SchoolContext" 
         connectionString="data source=PC2022\DORANCOSRV;initial catalog=SchoolDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>